<h2>List employee</h2>
<table class="table table-striped">
  <thead>
      <tr>
        <th>Tên</th>
        <th>email</th>
        <th>Địa chỉ</th>
        <th></th>
      </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of employees" >
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td>
        <button (click)="updateEmployee(item.id)" class="btn btn-info">update</button>
        <button (click)="deleteEmployee(item.id)" class="btn btn-danger" style="margin-left:2px ;">delete</button>
        <button (click)="detailEmployee(item.id)" class="btn btn-info" style="margin-left:2px ;">detail</button>
      </td>
    </tr>
  </tbody>
</table>
